<html>
  <head>
    <style>
.card {
  box-shadow: 3px 2px 12px 2px #00000036;
  padding: 16px;
  margin: 16px;
}
.container {}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>Overview of this round</h2>
        <ol>
          <li>We had {{overview.commits}} commits</li>
          <li>We had {{overview.mergerequests}} mergerequests</li>
          <li>We closed {{overview.tasks}} tasks</li>
          <li>We changed {{overview.loc.lines}} lines ({{overview.loc.changes}})</li>
        </ol>
      </div>

      <div class="card">
        <h2> Overall top authors (commits) </h2>
        <ol>
          {% for author in overall_top %}
          <li>{{author.name}}: {{author.number_of_commits}}</li>
          {% endfor %}
        </ol>
      </div>

      <div class="card">
        <h2> This round top authors (commits) </h2>
        <ol>
          {% for author in this_period_top %}
          <li>{{author.name}}: {{author.number_of_commits}}</li>
          {% endfor %}
        </ol>
      </div>

      <div class="card">
        <h2> This round top contributors (merge requests) </h2>
        <ol>
          {% for author in mergerequests %}
          <li>{{author.name}}: {{author.mergerequests}}</li>
          {% endfor %}
        </ol>
      </div>

      <div class="card">
        <h2>This round top change makers (number of lines)</h2>
        <ol>
          {% for author in lines %}
          <li>{{author.name}}: {{author.lines}} ({{author.changes}})</li>
          {% endfor %}
        </ol>
      </div>
    </div>

  </body>
</html>
